.btn-auth
  font-size 1em !important
  height: 61px
  border-radius var(--gym-button-border-radius)
  background var(--gym-btn-background)
  color var(--gym-btn-color)

.btn-board
  font-size 15px !important
  font-weight bold
  height: 50px
  border-radius var(--gym-button-border-radius-1)
  background var(--gym-btn-background-1)
  color var(--gym-text-color)
  cursor pointer-events
