add-color(name, lightModeValue, darkModeValue = false)
  body
    {name}: lightModeValue

  if darkModeValue
    .body--dark
      {name}: darkModeValue


$brand-blue = #1550F0
$brand-blue-dark-mode = #6188FF
add-color('--gym-brand-blue', $brand-blue, $brand-blue-dark-mode)

$page-color = #f4f4f4
$page-color-dark-mode = #2c3338
add-color('--gym-page-color', $page-color, $page-color-dark-mode)

$page-color-1 = #fff
$page-color-1-dark-mode = #22272c
add-color('--gym-page-color-1', $page-color-1, $page-color-1-dark-mode)

$page-color-2 = #2c3338
add-color('--gym-page-color-2', $page-color-2)

$text-color = #30373d
$text-color-dark-mode = #fafafa
add-color('--gym-text-color', $text-color, $text-color-dark-mode)

$text-color-1 = #58667E
$text-color-1-dark-mode = #848E9C
add-color('--gym-text-color-1', $text-color-1, $text-color-1-dark-mode)

$text-color-2 = #808A9D
$text-color-2-dark-mode = #A1A7BB
add-color('--gym-text-color-2', $text-color-2, $text-color-2-dark-mode)

$text-color-3 = #A6B0C3
$text-color-3-dark-mode = #858CA2
add-color('--gym-text-color-3', $text-color-3, $text-color-3-dark-mode)

$text-color-4 = #CFD6E4
$text-color-4-dark-mode = #646B80
add-color('--gym-text-color-4', $text-color-4, $text-color-4-dark-mode)

$text-color-5 = #EFF2F5
$text-color-5-dark-mode = #323546
add-color('--gym-text-color-5', $text-color-5, $text-color-5-dark-mode)

$text-color-6 = #F4F5F6
$text-color-6-dark-mode = #222531
add-color('--gym-text-color-6', $text-color-6, $text-color-6-dark-mode)

$text-color-7 = #F8FAFD
$text-color-7-dark-mode = #171924
add-color('--gym-text-color-7', $text-color-7, $text-color-7-dark-mode)

$text-color-8 = #FAFAFA
$text-color-8-dark-mode = #0A0E11
add-color('--gym-text-color-8', $text-color-8, $text-color-8-dark-mode)

$text-color-9 = #0A0E11
$text-color-9-dark-mode = #FAFAFA
add-color('--gym-text-color-9', $text-color-9, $text-color-9-dark-mode)


$btn-color = #5b6065
$btn-color-dark-mode = #5b6065
add-color('--gym-btn-color', $btn-color, $btn-color-dark-mode)

$btn-color-1 = #464646
$btn-color-1-dark-mode = #f3f3f5
add-color('--gym-btn-color-1', $btn-color-1, $btn-color-1-dark-mode)

$btn-background = #f3f3f3
$btn-background-dark-mode = #ffffff
add-color('--gym-btn-background', $btn-background, $btn-background-dark-mode)

$btn-background-1 = #e8e8e8
$btn-background-1-dark-mode = #353c42
add-color('--gym-btn-background-1', $btn-background-1, $btn-background-1-dark-mode)

$btn-background-2 = #0A0E11
$btn-background-2-dark-mode = #353a3f
add-color('--gym-btn-background-2', $btn-background-2, $btn-background-2-dark-mode)

$btn-background-3 = #e3e3e3
$btn-background-3-dark-mode = #353a3f
add-color('--gym-btn-background-3', $btn-background-3, $btn-background-3-dark-mode)

:root
  --q-color-primary: #1976D2
  --q-color-secondary: #26A69A
  --q-color-accent: #9C27B0
  --q-color-dark: #888212
  --q-color-info: #31CCEC
  --q-color-positive: #21BA45
  --q-color-negative: #C10015
  --q-color-warning: #F2C037

// Dark mode
.body--dark
  --q-color-primary: #6188FF
  --q-color-accent: #6188FF
  --q-color-dark: #14151A
  --q-color-positive: #0ECB81
  --q-color-negative: #EA3943
  --q-color-warning: #F0B90B
  --q-dark-page: #2c3338
